/* Import Catppuccin Mocha theme */
@import url("./themes/mocha.css");

/* Base */
* {
    font-family: "Inter", "Cantarell", "Noto Sans", "DejaVu Sans", sans-serif;
    font-size: 18px;
}

window#waybar {
    background-color: rgba(15, 17, 26, 0.85);
    color: #cdd6f4;
    transition-property: background-color;
    transition-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 1;
}

/* Layout */
.modules-left,
.modules-center,
.modules-right {
    background-color: transparent;
    border-radius: 0;
    border: none;
    margin: 0;
}

.modules-left>widget:not(:last-child)>*,
.modules-center>widget:not(:last-child)>*,
.modules-right>widget:not(:last-child)>* {
    padding-right: 0;
    margin-right: 0;
}


#workspaces {
    margin: 0 0px;
}

.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

/* Workspaces */
#workspaces button {
    padding: 0px 6px;
    margin: 0px 0px;
    color: #cdd6f4;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    /* border-left: 1px solid rgba(205, 214, 244, 0.35); */
    /* border-right: 1px solid rgba(205, 214, 244, 0.35); */
    transition: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: none;
    border-bottom: 3px solid rgba(205, 214, 244, 0.35);
    background-color: rgba(50, 54, 70, 0.35);
}

#workspaces button.active {
    box-shadow: none;
    border: 0;
    border-bottom: 3px solid rgba(164, 158, 238, 0.65);
    /* background-color: rgba(50, 54, 70, 0.35); */
    outline: none;
}

#workspaces button:focus-visible {
    box-shadow: none;
    border-bottom: 3px solid rgba(164, 158, 238, 0.75);
    background-color: rgba(30, 30, 30, 0.3);
}

#workspaces button.urgent {
    background-color: rgba(243, 139, 168, 0.6);
}

/* Taskbar */
#taskbar {
    margin: 0 0px;
}

#taskbar button {
    padding: 0;
    margin: 0 0px;
    color: #e6e9ef;
    border-radius: 2px;
    border: 0;
    /* border-left: 1px solid rgba(205, 214, 244, 0.35); */
    /* border-right: 1px solid rgba(205, 214, 244, 0.35); */
    transition: none;
    min-width: 32px;
    min-height: 32px;
}

#taskbar button>box {
    margin: 0;
    padding: 0;
}

#taskbar button image {
    margin: 0;
    padding: 0 2px;
}

#taskbar button:hover {
    box-shadow: none;
    border-bottom: 3px solid rgba(205, 214, 244, 0.35);
    background-color: rgba(50, 54, 70, 0.35);
}

#taskbar button.active {
    box-shadow: none;
    border: 0;
    border-bottom: 3px solid rgba(164, 158, 238, 0.65);
    background-color: rgba(50, 54, 70, 0.35);
    outline: none;
}

#taskbar button.urgent {
    background-color: rgba(243, 139, 168, 0.7);
    border-color: rgba(243, 139, 168, 0.9);
}

/* Shared module base */
#clock,
#custom-cpu,
#tray,
#mpd,
#custom-gpu,
#custom-network,
#custom-waybar-popup,
#custom-wofi {
    padding: 0px 3px;
    margin: 0;
    color: #cdd6f4;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    /* border-left: 1px solid rgba(205, 214, 244, 0.35); */
    /* border-right: 1px solid rgba(205, 214, 244, 0.35); */
    transition: none;
}

#clock:hover,
#custom-cpu:hover,
#custom-gpu:hover,
#custom-network:hover,
#custom-waybar-popup:hover,
#custom-wofi:hover,
#mpd:hover {
    box-shadow: none;
    border-bottom: 3px solid rgba(205, 214, 244, 0.35);
    background-color: rgba(50, 54, 70, 0.35);
}

/* Right-side modules */
#clock {
    color: #b4befe;
}

#custom-waybar-popup {
    font-family: "JetBrainsMono Nerd Font", "Iosevka Nerd Font", "FiraCode Nerd Font", "Noto Sans Symbols 2", "monospace";
    font-size: 24px;
    color: rgba(164, 158, 238, 0.65);
    border-radius: 2px;
    padding: 0px 2px;
    margin: 0px 4px 0px 10px;
}

#custom-wofi {
    font-family: "JetBrainsMono Nerd Font", "Iosevka Nerd Font", "FiraCode Nerd Font", "Noto Sans Symbols 2", "monospace";
    font-size: 26px;
    color: rgba(164, 158, 238, 0.65);
    border-radius: 2px;
    padding: 0px 10px 0px 10px;
    margin: 0px 5px 0px 0px;
}

/* Center modules */
#custom-network,
#custom-cpu,
#custom-gpu {
    font-size: 14px;
}

#custom-cpu,
#custom-gpu,
#custom-network {
    color: #89b4fa;
    min-width: 20px;
    padding: 0 6px;
}

#custom-cpu,
#custom-gpu {
    padding: 0 10px 0 5px;

}

#custom-network.wifi {
    color: #89b4fa;
}

#custom-network.ethernet {
    color: #94e2d5;
}

#custom-network.disconnected {
    color: #f38ba8;
}

#custom-cpu {
    color: #cba6f7;
    font-family: "JetBrainsMono Nerd Font", "Iosevka Nerd Font", "FiraCode Nerd Font", "Noto Sans Symbols 2", "monospace";
}

#custom-gpu {
    font-family: "JetBrainsMono Nerd Font", "Iosevka Nerd Font", "FiraCode Nerd Font", "Noto Sans Symbols 2", "monospace";
    color: #f5c2e7;
}

.hardware-module {
    margin: 0 5px;
    padding: 0 12px;
    border-radius: 999px;
    background-color: rgba(94, 108, 132, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.08);
    transition: all 0.12s ease;
}



#custom-gpu.hardware-module {
    background-color: rgba(245, 194, 231, 0.15);
    border-color: rgba(245, 194, 231, 0.3);
}

/* Tray */
#tray {
    background-color: transparent;
    padding: 0px 6px;
    border-radius: 2px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: rgba(243, 139, 168, 0.6);
}

#tray:hover,
#tray > *:hover {
    box-shadow: none;
    border-bottom: 3px solid rgba(205, 214, 244, 0.35);
    background-color: rgba(50, 54, 70, 0.35);
}

/* MPD */
#mpd {
    color: #a6e3a1;
}

#mpd.disconnected {
    background-color: rgba(243, 139, 168, 0.6);
    color: #11111b;
}

#mpd.stopped {
    color: #f38ba8;
}

#mpd.paused {
    color: #f9e2af;
}

/* GPU usage-based coloring */
#custom-gpu.gpu-na {
    color: #6c7086;
}

#custom-gpu.gpu-0,
#custom-gpu.gpu-10,
#custom-gpu.gpu-20 {
    color: #a6e3a1;
}

#custom-gpu.gpu-30,
#custom-gpu.gpu-40,
#custom-gpu.gpu-50 {
    color: #f9e2af;
}

#custom-gpu.gpu-60,
#custom-gpu.gpu-70 {
    color: #fab387;
}

#custom-gpu.gpu-80,
#custom-gpu.gpu-90,
#custom-gpu.gpu-100 {
    color: #f38ba8;
}
