# https://github.com/jesseduffield/lazygit/wiki

os:
  edit: 'nvr --remote {{filename}}'
  editAtLine: 'nvr --remote +{{line}} {{filename}}'
  editAtLineAndWait: 'nvr --remote-wait +{{line}} {{filename}}'
  editInTerminal: false

gui:
  theme:
    activeBorderColor:
      - '#fab387'
      - bold
    inactiveBorderColor:
      - '#a6adc8'
    optionsTextColor:
      - '#89b4fa'
    selectedLineBgColor:
      - '#313244'
    cherryPickedCommitBgColor:
      - '#45475a'
    cherryPickedCommitFgColor:
      - '#fab387'
    unstagedChangesColor:
      - '#f38ba8'
    defaultFgColor:
      - '#cdd6f4'
    searchingActiveBorderColor:
      - '#f9e2af'

  authorColors:
    '*': '#b4befe'

git:
  pagers:
    - colorArg: always
      pager: delta --paging=never --features="line-numbers decorations"
